server:
  port: 8081
  servlet:
    encoding:
      charset: UTF-8
      
 
spring:
  thymeleaf:
    mode: HTML
    encoding: UTF-8
  h2:
    console:
      enabled: true
    
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect 
    show-sql: true
    hibernate:
      ddl-auto: update
    
    
        
